.image-uploading {
  position: relative;
  display: inline-block;
}

.image-uploading img {
  max-width: 98% !important;
  filter: blur(5px);
  opacity: 0.3;
}

.image-uploading::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30px;
  height: 30px;
  margin-top: -15px;
  margin-left: -15px;
  border-radius: 50%;
  border: 3px solid #ccc;
  border-top-color: #1e986c;
  z-index: 1;
  animation: spinner 0.6s linear infinite;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

ul.more-opt-list {
  display: inline;
  z-index: 10000;
  position: absolute;
  padding: 10px;
  right: 4px;
  top: -9px;
  background-color: white;
  color: #04263D;
  background: #FFFFFF;
  border: 0.5px solid #C3C3DE;
  box-sizing: border-box;
  box-shadow: 0px 2px 2px rgb(195 195 222 / 25%);
  border-radius: 5px;
}
span.more-opt {
  top: 48px;
  left: 25px;
  display: none;
  position: absolute;
  background: white;
}

span.file-embed {
  position: relative;
}

span.file-embed * {
  user-select: none;
}

ul.more-opt-list span {
  display: block;
}

.file-icon:hover .more-opt-icon {
  display: inline-block;
}

span.file-embed:hover .more-opt-container {
  display: inline-block;
}

span.more-opt-container {
  display: none;
}

span.more-opt-container:hover span.more-opt {
  display: inline-block;
}


span.file-blot {
  display: inline-table;
  background: #FFFFFF;
  border: 0.5px solid #C3C3DE;
  box-sizing: border-box;
  box-shadow: 0px 2px 2px rgb(195 195 222 / 25%);
  border-radius: 5px;
  padding: 5px 15px 0px 5px;
  margin: 5px;
}

svg.nu-icon.file-icon {
  display: inline-block;
}

span.file-label {
  display: inline-block;
  position: relative;
  top: -7px;
  padding: 0px 8px;
  color: #51C0AA;
}

span.more-opt-container {
  position: absolute;
  width: 24px;
  height: 42px;
  margin-left: -25px;
  top: -20px;
}

svg.more-opt-icon {
  width: 20px;
  height: 25px;
  position: absolute;
  top: 12px;
}

svg.file-icon {
  width: 25px;
  height: 25px;
}


/* Image thumbnail blot */
span.image-thumbnail {
  display: inline-block;
  position: relative;
}

span.image-thumbnail .image-thumbnail-div {
  height: 60px;
  background-size: contain;
  background-position: center;
  background-origin: content-box;
  background-repeat: no-repeat;
  margin-right: 5px;
  width: 75px;
  display: inline-block;
  position: relative;
  border: 1px solid #E3E3E3;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 4px;
  margin-left: 5px;
  top: 5px;
}

span.remove-thumbnail.file-embed-option {
  position: absolute;
  top: -5px;
  right: 3px;
  display: none;
  cursor: pointer;
}

span.image-thumbnail-blot {
  position: relative;
  display: inline-flex;
}

span.image-thumbnail:hover span.remove-thumbnail.file-embed-option {
  display:block;
}